.description {

    @media screen and (min-width: 1200px) {
        padding-bottom: 0;
    }

    background-color: $secondary-color;

    &__list {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;

        @media screen and (max-width: 1199px) {
            justify-content: center;
        }
    }

    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 450px;
        height: 120px;
        margin-bottom: 30px;
        border-radius: 4px;
    
        background-color: $backgroundline-color;

        @media screen and (min-width: 768px) {
            width: 354px;
        }

        @media screen and (min-width: 1200px) {
            width: 270px;
        }
    }

    &__svg {
        width: 70px;
        height: 70px;
    }

    &__title {
        margin-bottom: 10px;
    
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;

        @media screen and (max-width: 767px) {
            text-align: center;
        }
    }

    &__text {
        width: 354px;
    
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
    
        color: $grey-color;

        @media screen and (min-width: 1200px) {
            width: 270px;
        }
    }
}